body{
    margin: 0px;
}

.header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    background-color: #00672d;
    z-index: 5;    
}

.heading {
    position: absolute;
    left: 60px;
    top: 15px;
    font-family: sans-serif;
    font-size: 30px;
    color: #dbd8ff;
    text-shadow: 1px 1px 5px black;
}

.taim-logo {
    width: 50px;
}

.company-logo {
    position: absolute;
    width: 120px;
    right: 0px;
}

.map {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #1f1f1f;
}

.hidden {
    display: none !important;
}

.show {
    display: block;
}

.leftPanelClass {
    position: absolute;
    top: 70px;
    left: 10px;
    width: 300px;
    height: 220px;
    background-color: #00672d;
    border: 1px solid #fff8dc;
}

.panel-heading {
    margin-left: 20px;
    margin-top: 10px;
    color: #fff8dc;
}

.panel-component {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.admin-panel-button {
    margin-top: 10px;
    left: 20px;
    position: relative;
}

.left-image-upload-panel {
    position: absolute;
    top: 300px;
    left: 10px;
    width: 300px;
    height: 150px;
    background-color: #00672d;
    border: 1px solid #fff8dc;
}

.left-image-upload-section {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.left-image-upload-file-input {
    background-color: black !important;
    color: white !important;
}

.right-dashboard-totalsightings-panel {
    display: none;
    position: absolute;
    top: 70px;
    right: 10px;
    width: 300px;
    height: 100px;
    background-color: #1f1f1f;
    border: 1px solid #54a49a;
    opacity: 0.7;
}

.right-dashboard-humaninterferencepercentage-panel {
    display: none;
    position: absolute;
    top: 180px;
    right: 10px;
    width: 300px;
    height: 100px;
    background-color: #1f1f1f;
    border: 1px solid #54a49a;
    opacity: 0.7;
}

.right-dashboard-falsetriggerspercentage-panel {
    display: none;
    position: absolute;
    top: 290px;
    right: 10px;
    width: 300px;
    height: 100px;
    background-color: #1f1f1f;
    border: 1px solid #54a49a;
    opacity: 0.7;
}

.timeslider-panel {
    position: absolute;
    display: none;
    bottom: 5px;
    left: 10px;
    width: calc(100% - 20px);
    height: 150px;
    background-color: #00672d;
    border: 1px solid #fff8dc;
}

.species-time-slider {
    display: none;
    margin-top: 30px;
}

.species-slider-tick-bar {
    position: absolute;
    width: 1px;
    height: 19px;
    background-color: white;
    top: 87px;
}

.species-slider-tick-label {
    position: absolute;
    font-size: 9px;
    color: #fbff9e;
}

.display-image-modal {
    height: 500px;
}

.display-image-container {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 10px;
}

.totalsightings-label {
    text-align: center;
    color: #40c0c0;
}

.totalsightings-count {
    text-align: center;
    color: #FFFFFF;
}

.select-style {
    background-color: black !important;
    color: aliceblue !important;
}

.ol-popup {
    position: absolute;
    display: none;
    font-size: 11px;
    /* min-width: 400px;
    height: 300px; */
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    /* bottom: 50px; */
    left: -75px;
    width: 150px;
}
.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 75px;
    margin-left: -10px;
}
.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 74px;
    margin-left: -11px;
}
.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}
.ol-popup-closer:after {
    content: "x";
}

.camera-images-gallery{
    display: none;
    position: absolute;
    width: 100%;
    height: 300px;
    bottom: 0px;
    background-color: #00672d;
}

.camera-images-gallery-header {
    height: 25px;
    color: white;
    background-color: #0d3702;
    box-shadow: #174126 -1px 9px 20px 0px;
}

.camera-images-gallery-header-item {
    top: -2px;
    right: 5px;
    position: absolute;
    cursor: pointer;
}

.camera-statistics-header {
    color: #d1cd93;
    margin-left: 20px;
}

.camera-statistics-checkbox {
    margin-left: 20px;
}

.camera-images-gallery-statistics {
    position: absolute;
    height: 275px;
    left: 0px;
    width: 500px;
}

.camera-images-gallery-content {
    position: absolute;
    height: 275px;
    left: 500px;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
}

.camera-image-item-container {
    width: 100px;
}

.camera-image-item-label {
    position: relative;
    color: cornsilk;
    font-size: 12px;
    /* left: -90px;
    top: 35px; */
}

.camera-image-item {
    width: 100px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    transition: transform .4s;
    cursor: pointer;
}

.camera-image-item:hover {
    transform: scale(1.3);
}

.loading {
    background: transparent url('/icons/loading.svg') center no-repeat;
}